.home-heading {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff433a;
}

.home-category-img-text {
    font-weight: 900;
    left: 0;
    top: 40%;
    position: absolute;
    /*width: 100%;*/
    width: 372.3px;
    height: 35px;
    /*font-family: Calibre;*/
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.home-category-img {
    /*max-width: 373px;*/
    width: 100%;
    height: 260px;
    position:relative;
    object-fit: scale-down;
}

.home-category {
    cursor: pointer;
    margin-top:16px;
}

.row-home {
  padding: 0 0 20px 0px;
}

.about-home-content {
  margin: 26px;
  font-size: 18px;
  font-weight: 600;
}

.about-home-header {
  margin: 26px;
  font-size: 30px;
  font-weight: 600;
}

.home-random-workshop {
    cursor: pointer;
}

.home-random-workshop-img {
    max-height: 600px;
    width: 100%;
}

.home-random-workshop-img-text {
    font-weight: 900;
    left: 35%;
    top: 40%;
    position: absolute;
    /*width: 100%;*/
    width: 372.3px;
    height: 35px;
    /*font-family: Calibre;*/
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.carousel-indicators .active {
    background-color: rgba(0, 0, 0, 0) !important;
    border: solid 2px red !important;
}

.category-collection { 
  margin-top: 20px;
}