.container-profile {
  padding: 20px 0 20px 0;
}

.profile-name {
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff433a;
}

.profile-skill {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.profile-content-title {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: 20px;
}

.profile-content {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.skill-category {
  opacity: 0.72;
  font-size: 20.1px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.72);
}

.skill-title {
  padding: 5px 0px 0px 0px;
  width: 306.7px;
  height: 20px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #717171;
}

.skill-author {
  opacity: 0.72;
  font-size: 14.9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.72);
}

.skill-price {
  width: 306.7px;
  height: 41px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #717171;
}

.btn_edit_skill {
  width: 80px;
  height: 35px;
  opacity: 0.72;
  background-color: #ffffff;
  border: solid 1px #000000;
  margin: 20px 55px 10px 0px;
  float: right;
}
.btn-margin {
  margin-left: 5px;
}

.img-circle {
  width: 100%;
}

.dropzone-style {
  max-width: 250px;
  width: 100%;
  border-radius: 50%;
  border: solid 1px grey;
}
