.about-container{
  padding: 20px 0 20px 0;
}

.about-content {
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.about-heading {
  font-size: 30.2px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff433a;
  margin-top: 0px;
}

.about-content ol {
  counter-reset: item;
}

.about-content li {
  display: block;
}

.about-content li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
