.about-container{
  padding: 20px 0 20px 0;
}
.about-content {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
  color: #000000;
}

.about-heading {
  font-size: 30.2px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff433a;
  margin-top: 0px;
}
