.row-margin {
  margin: 15px 0px 15px 0px;
}

.skills-form-header {
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff433a;
}

.skills-text-content {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin: 15px 0 15px 0;
}

.skills-form-title {
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.share-skill-row {
  margin: 10px auto;
}

.skills-form-label {
  display: flex;
  align-items: center;
  height: 34px;
}

.skills-select-box {
  width: 100%;
  height: 34px;
  border-radius: 0;
  border-color: #9b9b9b;
  -webkit-appearance: none;
  padding-left: 10px;
}

.add-session-button {
  width: 34px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: #ff433a !important;
  height: 34px;
}

.arrow-class {
  width: 16px;
}

.validation {
  font-size: 11px;
  margin-left: 0px;
}

.my-glyphicon {
  font-family: 'Glyphicons Halflings';
}

/*
 *$scoreRed: #f44336;
 *$scoreYellow: #ffeb3b;
 *$scoreGreen: #4caf50;
 */

.password {
  &__input {
    display: block;
    text-transform: none;
    width: 100%;
    height: 42px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #9b9b9b;
    font-weight: 400;

    &:focus,
    &:active {
      outline: 0;
    }
  }

  &__show {
    cursor: pointer;
    right: 0;
    color: #0090d7;
    border-radius: 4px;
    font-weight: 700;
    font-size: 0.8em;
    float: right;
    width: 9%;
    height: 34px;
    padding: 8px;
  }

  &__strength {
    position: absolute;
    width: 0%;
    height: 4px;
    margin: 6px auto;
    right: 15px;
    background: transparent;
    transition: all 300ms ease-in-out;

    right: 0;
    float: right;
    width: 9%;
    padding: 1px;
    margin-right: 15px;

    &[data-score='null'] {
      width: 0;
      background: red;
    }

    &[data-score='0'] {
      width: 5%;
      background: $scoreRed;
    }
    &[data-score='1'] {
      width: 25%;
      background: $scoreRed;
    }
    &[data-score='2'] {
      width: 50%;
      background: $scoreYellow;
    }
    &[data-score='3'] {
      width: 75%;
      background: $scoreGreen;
    }
    &[data-score='4'] {
      width: 100%;
      background: $scoreGreen;
    }
  }
}

.share-skill-ladda-button {
    border-radius: 17px;
    width: 34px;
    height: 34px;
    background-color: #fff;
    padding: 3px 6px !important;
    border-color: #ccc;
    font-size: 12px;
}

.ladda-button[disabled], .ladda-button[disabled]:hover, .ladda-button[data-loading], .ladda-button[data-loading]:hover {
    cursor: default;
    background-color: #fff;
}

.share-skill-dropzone {
    height: 0px;
    width: 0px;


    /*border: dotted;*/
    /*height: 80px;*/
    /*width: 80px;*/
    /*cursor: pointer;*/

    /*width: 100%;*/
}
