.menu-item {
  font-size: 18px;
  float: right;
}

.navbar.navbar-default {
  background-color: white;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 8px;
  margin-bottom: 12px;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.menubar-menu-collection {
  font-size: 20px;
}

.menubar-menu-collection > li {
  float: right;
  text-align: right;
  margin: auto 12px;
}

.menubar-menu-collection > li > a {
  font-size: 16px;
  padding-right: 0px;
}

@media (max-width: 768px) {
  .menubar-menu-collection > li {
    width: 100%;
    float: right;
    clear: both;
    text-align: right;
  }

  .menubar-header {
    padding-left: 20px;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #717171 !important;
}

@media (min-width: 769px) {
  .navbar-default .navbar-nav > li > a {
    margin-right: 0px;
    padding-right: 0px;
  }

  .navbar-nav > li {
    margin-right: 0px;
  }
}

