.menu-item {
  font-size: 18px;
  float: right;
}

.navbar.navbar-default {
  background-color: #FFFFFF;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 8px;
  margin-bottom: 12px;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.menubar-menu-collection {
  font-size: 20px;
}

.menubar-menu-collection > li {
  float: right;
  text-align: right;
  margin: auto 12px;
}

.menubar-menu-collection > li > a {
  color: #777;
  font-size: 16px;
}

@media (max-width: 768px) {
  .menubar-menu-collection > li {
    width: 100%;
    float: right;
    clear: both;
    text-align: right;
  }

  .menubar-menu-collection > li > a {
    color: #777;
  }

  .menubar-header {
    padding-left: 20px;
  }
}


